/* Errorpage section */
.Errorpage {
    min-height: calc(100vh - 14rem);
    color: var(--color-text-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Errorpage-content {
    width: 50%;
}

.Errorpage-content h1 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.Errorpage-content h2 {
    font-size: 6rem;
    font-weight: var(--font-weight-black);
    line-height: 1;
    margin-bottom: 4rem;
}

.Errorpage-content p {
    font-size: 1.8rem;
    color: var(--color-text-dark);
    font-weight: var(--font-weight-normal);
    text-align: left;
}

.Errorpage-content a {
    margin-right: 2rem;
    margin-top: 5rem;
    font-size: 1.65rem;
}

.Errorpage-img {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Errorpage-img i img {
    width: 50rem;
    height: auto;
    animation: FloatImage 4s ease-in-out infinite;
}

@keyframes FloatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5rem);
    }

    100% {
        transform: translateY(0);
    }
}



/*  834px - 1068px - Laptop Sections */
@media screen and (min-width: 834px) and (max-width: 1068px) {
    .Errorpage {
        padding: 0 0 10rem 0;
    }

    .Errorpage-img i img {
        width: 40rem;
    }
}



/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {

    .Errorpage {
        padding: 5rem 0 20rem 0;
        min-height: auto;
    }

    .Errorpage-content {
        width: 100%;
    }

    .Errorpage-content h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .Errorpage-content h2 {
        font-size: 6rem;
        text-align: center;
    }

    .Errorpage-content p {
        font-size: 1.8rem;
        text-align: center;
    }

    .Errorpage-content a {
        width: 100%;
    }

    .Errorpage-img {
        display: none;
    }

    .tos .tos-content h2 {
        font-size: 5rem;
    }
}



/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {

    .Errorpage {
        padding: 5rem 0 20rem 0;
        min-height: auto;
    }

    .Errorpage-content {
        width: 100%;
    }

    .Errorpage-content h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .Errorpage-content h2 {
        font-size: 6rem;
        text-align: center;
    }

    .Errorpage-content p {
        font-size: 1.8rem;
        text-align: center;
    }

    .Errorpage-content a {
        width: 100%;
    }

    .Errorpage-img {
        display: none;
    }

    .tos .tos-content h2 {
        font-size: 3rem;
    }
}