/* Button */
.btn {
    display: inline-block;
    padding: 1.4rem 1.8rem;
    border: none;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-bold);
    font-size: 2rem;
    cursor: pointer;
}

/* Contact button Starting*/
.btn-contact {
    background: var(--color-light);
    color: var(--color-dark);
    width: 19rem;
}

.btn-contact:hover {
    transform: scale(1.08);
}

/* Black Bar button and icon Starting*/
#btn-blackbar {
    display: none;
    cursor: pointer;
}

#btn-blackbar.active #blackbarbutton-icon {
    transform: rotate(90deg);
}

#btn-blackbar:hover,
#btn-blackbar:hover #blackbarbutton-icon {
    color: var(--color-dark);
}

#blackbarbutton-icon {
    color: var(--color-dark);
    transition: 0.3s ease;
    font-size: 3rem;
}

/* Icons Starting */
.reviewstar-icon {
    width: 2rem;
    height: auto;
    font-size: 1.4rem;
    color: var(--color-primary);
}

.footerheart-icon {
    background: var(--color-linear-2);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.3rem;
    margin: 0 0.3rem;
}