/* Button */
.btn {
    display: inline-block;
    padding: 12px 18px;
    border: none;
    border-radius: 50px;
    text-align: center;
    transition: 0.3s ease;
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-bold);
    font-size: 1.8rem;
    cursor: pointer;
}

/* Discord button */
.btn-discord {
    background-color: rgb(114, 137, 218);
    box-shadow: 0 0 10px rgba(114, 137, 218, 0.75);
    color: var(--color-text-light);
}

.btn-discord:hover {
    background-color: rgb(78, 93, 148);
    transform: scale(1.05);
}

.btn-discord:hover,
.btn-discord:hover .discord-icon {
    color: var(--color-text-hover);
}

/* Get Started button */
.btn-getstarted {
    background-color: rgba(1, 233, 254);
    border: 2px solid rgba(1, 233, 254);
    box-shadow: 0 0 10px rgba(1, 233, 254, 0.75);
    color: var(--color-dark);
    width: 195px;
}

.btn-getstarted:hover {
    background-color: transparent;
    transform: scale(1.05);
}

.btn-getstarted:hover,
.btn-getstarted:hover .rightarrow-icon {
    color: var(--color-text-light);
}

/* Order Now button */
.btn-ordernow {
    background-color: transparent;
    border: 2px solid rgba(1, 233, 254);
    box-shadow: 0 0 10px rgba(1, 233, 254, 0.75);
    color: var(--color-text-light);
    width: 195px;
}

.btn-ordernow:hover {
    background-color: rgba(1, 233, 254);
    transform: scale(1.05);
}

.btn-ordernow:hover,
.btn-ordernow:hover .cart-icon {
    color: var(--color-dark);
}