/* Containers */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4rem;
}

.container-small {
    max-width: 834px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Columns */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}

.column {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Utility Columns */
.footer-row {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}