/* Modal */
.modal {
    position: fixed;
    display: none;
    z-index: 111;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}

.modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 48rem;
    height: auto;
    padding: 2rem 3rem;
    border-radius: 12px;
    border: 2px solid var(--color-border);
    background-color: var(--color-btn-dark);
}

.modal .modal-close {
    position: fixed;
    top: -0.2rem;
    right: 1rem;
    color: var(--color-text-dark);
    font-size: 2.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.modal .modal-close:hover,
.modal .modal-close:focus {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-text-light);
}




.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-header img {
    height: 6rem;
    width: auto;
    margin-bottom: 2rem;
}

.modal-header h2 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-light);
    text-align: center;
}

.modal-header h2 span {
    font-size: 1.6rem;
    font-weight: var(--font-weight-black);
    background: var(--color-linear-1-2);
    -webkit-background-clip: text;
    color: transparent;
}



.modal-content {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content p {
    font-size: 1.6rem;
    color: var(--color-text-dark);
    font-weight: var(--font-weight-normal);
    text-align: center;
}

.modal-content a {
    margin-top: 3rem;
}


/*  834px - 1068px - Laptop Sections */
@media screen and (min-width: 834px) and (max-width: 1068px) {

}



/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {

}



/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {

    .modal-box {
        padding: 2rem 2rem;
    }
}