.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Text Transforms */
.text-uppercase {
    text-transform: uppercase;
}

.text-uppercase {
    text-transform: capitalize;
}

/* Displays */
.hidden {
    display: none;
}

.block {
    display: block;
}

.inlineflex {
    display: inline-flex;
}

/* Justify */
.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

/* Aligns */
.align-center {
    align-items: center;
}

/* Paddings */
.padding-left-4 {
    padding-left: 4rem;
}

.padding-right-2 {
    padding-right: 2rem;
}

/* Background Colors for testing */
.white {
    background-color: rgba(255, 255, 255, 0.1);
}

.red {
    background-color: rgb(255, 0, 0, 0.10);
}

.green {
    background-color: rgba(0, 128, 0, 0.20);
}

.blue {
    background-color: rgba(55, 0, 255, 0.2);
}

.aqua {
    background-color: rgba(0, 204, 255, 0.2);
}

.yellow {
    background-color: rgba(208, 255, 0, 0.2);
}

.pink {
    background-color: rgba(255, 0, 234, 0.2);
}

.purple {
    background-color: rgba(132, 0, 255, 0.2);
}