/* 1069px and Upper - Desktop Footer */
.footer {
	height: auto;
	width: 100%;
	background-color: var(--color-btn-dark);
	border-bottom: 0.3rem solid var(--color-btn-dark);
	box-shadow: 0 5rem 15rem rgba(1, 233, 254, 0.6);
}

.footer-navigation {
	height: 21rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-text-dark);
}

.footer-navigation .item-title {
	font-size: 1.7rem;
	line-height: 1.7;
	color: var(--color-text-light);
	font-weight: var(--font-weight-bold);
	text-align: left;
}

.footer-navigation a {
	font-size: 1.6rem;
	line-height: 1.7;
	color: var(--color-text-dark);
	font-weight: var(--font-weight-bold);
	transition: 0.3s ease;
}

.footer-navigation a:hover {
	color: var(--color-text-light);
	text-shadow: 0 0 8px rgb(252, 252, 252);
}

.footer-navigation i img {
	height: 7rem;
	width: auto;
	display: flex;
}

.footer-navigation p {
	font-size: 1.6rem;
	line-height: 1.5;
	color: var(--color-text-dark);
	font-weight: var(--font-weight-normal);
}

.footer-navigation .item-1 {
	width: 25%;
	height: 16.5rem;
}

.footer-navigation .item-2 {
	width: 25%;
	height: 16.5rem;
}

.footer-navigation .item-3 {
	width: 25%;
	height: 16.5rem;
}

.footer-navigation .item-4 {
	width: 25%;
	height: 16.5rem;
}




.footer-copyright {
	height: 10rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-copyright .copyright-text p,
a {
	font-size: 1.6rem;
	color: var(--color-text-dark);
	font-weight: var(--font-weight-normal);
	text-align: left;
}

.footer-copyright a {
	transition: 0.3s ease;
}

.footer-copyright a:hover {
	color: var(--color-text-light);
	text-shadow: 0 0 8px rgb(252, 252, 252);
}

.footer-copyright .payment-methods {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-copyright .payment-methods i img {
	margin-left: 1rem;
}


/*  834px - 1068px - Laptop Footer */
@media screen and (min-width: 834px) and (max-width: 1068px) {

	/* Navigation Section */
	.footer-navigation .item-3 {
		width: 5%;
	}

	.footer-navigation .item-4 {
		width: 35%;
	}
}


/*  576px - 833px - Tablet Footer */
@media screen and (min-width: 576px) and (max-width: 833px) {

	/* Navigation Section */
	.footer-navigation .item-title {
		font-size: 1.6rem;
		line-height: 2;
	}

	.footer-navigation a {
		font-size: 1.4rem;
		line-height: 2;
	}

	.footer-navigation p {
		font-size: 1.4rem;
	}

	.footer-navigation i img {
		height: 5rem;
	}

	.footer-navigation .item-3 {
		display: none;
	}

	.footer-navigation .item-4 {
		width: 40%;
	}

	/* Copyright Section */
	.footer-copyright .copyright-text p {
		font-size: 1.4rem;
		padding-bottom: 1rem;
	}

	.footer-copyright .copyright-text a {
		font-size: 1.4rem;
	}

	.footer-copyright .payment-methods i img {
		display: none;
	}
}

/*  575px and Lower - Mobile Footer */
@media screen and (max-width: 575px) {

	/* Navigation Section */
	.footer-navigation {
		align-items: center;
		justify-content: center;
	}

	.footer-navigation .item-title {
		font-size: 1.6rem;
		line-height: 2.2
	}

	.footer-navigation a {
		font-size: 1.4rem;
		line-height: 2.2
	}

	.footer-navigation .item-3,
	.footer-navigation .item-4 {
		display: none;
	}

	.footer-navigation .item-1,
	.footer-navigation .item-2 {
		width: 50%;
	}


	/* Copyright Section */
	.footer-copyright .copyright-text {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	.footer-copyright .copyright-text p {
		font-size: 1.4rem;
		padding-bottom: 1rem;
	}

	.footer-copyright .copyright-text a {
		font-size: 1.4rem;
	}

	.footer-copyright .payment-methods i img {
		display: none;
	}
}