/* 833px and Lower - Mobile Footer */
@media screen and (max-width: 833px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}



/* 834px and Upper - Desktop Footer */
@media screen and (min-width: 834px) {
	.header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
}