/* 1069px and Upper - Desktop Header */
.announcement {
    height: auto;
    width: 100%;
    padding: 0 2rem;
    background: var(--color-linear-1-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.announcement .content {
    width: 99%;
}

.announcement .right {
    width: 1%;
}

.announcement .content p {
    padding: 1.5rem 1rem 1.5rem 0;
    font-size: 1.6rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-dark);
    text-align: center;
}

.announcement .content a {
    display: inline-block;
    position: relative;
    margin-left: 2rem;
    font-size: 1.7rem;
    font-weight: var(--font-weight-black);
    color: var(--color-dark);
    transition: 0.5s ease;
}
    
.announcement .content a:hover {
    color: var(--color-dark);
    text-shadow: 0 0 16px var(--color-dark);
}
.announcement .content a::after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 50%;
    background: var(--color-dark);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.announcement .content a:hover::after {
    transform: scaleX(1);
}

.announcement .right .announcement-close {
    padding: 0;
    margin: 0;
    color: var(--color-dark);
    font-size: 2.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.announcement .right .announcement-close:hover,
.announcement .right .announcement-close:focus {
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 0 16px var(--color-dark);
}



.header {
    z-index: 99;
    height: 14rem;
    width: 100%;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    z-index: 100;
    height: 9rem;
    width: 129rem;
    border-radius: 50px;
    padding: 0 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-btn-dark);
    box-shadow: 0 0 75px rgb(0, 0, 0);
}

.navigation .logo {
    height: 8rem;
    width: auto;
    display: flex;
}

.navigation .navbar {
    display: flex;
    gap: 4rem;
}

.navigation .navbar a {
    font-size: 1.7rem;
    color: var(--color-text-dark);
    font-weight: var(--font-weight-bold);
    transition: 0.3s ease;
}

.navigation .navbar a:hover {
    color: var(--color-text-light);
    text-shadow: 0 0 8px rgb(252, 252, 252);
}

.nav-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#black-bar {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    display: none;
}

#nav-blackbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 5rem 5rem;
}

#nav-blackbar a {
    line-height: 2;
    font-size: 2.4rem;
    color: var(--color-text-light);
    font-weight: var(--font-weight-black);
}


/*  834px - 1068px - Laptop Header */
@media screen and (min-width: 834px) and (max-width: 1068px) {

    #btn-blackbar {
        z-index: 101;
        display: block;
    }

    .header {
        height: 13rem;
    }

    .navigation .navbar {
        display: none;
    }

    .nav-right {
        width: 22rem;
    }
}


/*  576px - 833px - Tablet Header */
@media screen and (min-width: 576px) and (max-width: 833px) {

    #btn-blackbar {
        z-index: 101;
        display: block;
    }

    .header {
        position: sticky;
        top: 0;
        left: 0;
        height: 6rem;
        padding: 0;
    }

    .navigation .navbar {
        display: none;
    }

    .navigation {
        width: 100%;
        height: 6rem;
        padding: 0 2.5rem 0 1.5rem;
        border-radius: 0;
    }

    .navigation .logo {
        height: 6rem;
    }

    .navigation .btn-header {
        padding: 0.8rem 1.2rem;
        font-size: 1.4rem;
    }

    .nav-right {
        width: 18.5rem;
    }
}

/*  575px and Lower - Mobile Header */
@media screen and (max-width: 575px) {

    #btn-blackbar {
        z-index: 101;
        display: block;
    }

    #nav-blackbar {
        padding: 4rem 3rem;
    }
    
    #nav-blackbar a {
        font-size: 2rem;
    }

    .announcement p {
        font-size: 1.4rem;
    }

    .header {
        position: sticky;
        top: 0;
        left: 0;
        height: 6rem;
        padding: 0;
    }

    .navigation .navbar {
        display: none;
    }

    .navigation {
        width: 100%;
        height: 6rem;
        padding: 0 2.5rem 0 1.5rem;
        border-radius: 0;
    }

    .navigation .logo {
        height: 6rem;
    }

    .navigation .btn-header {
        display: none;
    }
}