/* 1069px and Upper - Desktop Header */
.header {
    height: 14rem;
    width: 100%;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    z-index: 100;
    height: 9rem;
    width: 129rem;
    border-radius: 50px;
    padding: 0 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-btn-dark);
    box-shadow: 0 0 75px rgb(0, 0, 0);
}

.navigation .logo {
    height: 8rem;
    width: auto;
    display: flex;
}

.navigation .navbar a {
    margin-left: 4rem;
    font-size: 1.7rem;
    color: var(--color-text-dark);
    font-weight: var(--font-weight-bold);
    transition: 0.3s ease;
}

.navigation .navbar a:hover {
    color: var(--color-text-light);
    text-shadow: 0 0 8px rgb(252, 252, 252);
}

.nav-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#black-bar {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    display: none;
}

#nav-blackbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 5rem 1rem;
}

#nav-blackbar a {
    line-height: 2;
    margin-left: 4rem;
    font-size: 2.4rem;
    color: var(--color-text-light);
    font-weight: var(--font-weight-black);
}


/*  834px - 1068px - Laptop Header */
@media screen and (min-width: 834px) and (max-width: 1068px) {

    #btn-blackbar {
        z-index: 101;
        display: block;
    }

    .header {
        height: 13rem;
    }

    .navigation .navbar {
        display: none;
    }

    .nav-right {
        width: 24.5rem;
    }
}


/*  576px - 833px - Tablet Header */
@media screen and (min-width: 576px) and (max-width: 833px) {

    #btn-blackbar {
        z-index: 101;
        display: block;
    }

    .header {
        height: 8rem;
        padding: 0;
    }

    .navigation .navbar {
        display: none;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 6rem;
        padding: 0 2.5rem 0 1.5rem;
        border-radius: 0;
    }

    .navigation .logo {
        height: 6rem;
    }

    .navigation #btn-discord {
        padding: 0.8rem 1.2rem;
        font-size: 1.4rem;
    }

    .nav-right {
        width: 21.5rem;
    }
}

/*  575px and Lower - Mobile Header */
@media screen and (max-width: 575px) {

    #btn-blackbar {
        z-index: 101;
        display: block;
    }

    .header {
        height: 8rem;
        padding: 0;
    }

    .navigation .navbar {
        display: none;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 6rem;
        padding: 0 2.5rem 0 1.5rem;
        border-radius: 0;
    }

    .navigation .logo {
        height: 6rem;
    }

    .navigation #btn-discord {
        display: none;
    }
}