/* 1069px and Upper - Desktop Sections */

/* Visuals Starting */
#eclipse-top {
    position: absolute;
    top: -150px;
    left: 0;
    z-index: -1;
}

#eclipse-left1 {
    position: absolute;
    top: 1200px;
    left: 0;
}

#eclipse-right1 {
    position: absolute;
    top: 200px;
    right: 0;
}

#eclipse-right2 {
    position: absolute;
    top: 3000px;
    right: 0;
}


/* Hero section */
.hero {
    padding: 10rem 0 15rem 0;
    color: var(--color-text-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 50%;
    margin-top: 5rem;
}

.hero-content h1 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.hero-content h2 {
    font-size: 6rem;
    font-weight: var(--font-weight-black);
    line-height: 1;
    margin-bottom: 4rem;
}

.hero-content p {
    font-size: 1.8rem;
    color: var(--color-text-dark);
    font-weight: var(--font-weight-normal);
    text-align: left;
}

.hero-content a {
    margin-right: 2rem;
    margin-top: 5rem;
}

.hero-img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5rem;
}

.hero-img i img {
    width: 45rem;
    height: auto;
    animation: FloatImage 3s ease-in-out infinite;
}

@keyframes FloatImage {
    0% {
        transform: translateY(-2.5rem);
    }

    50% {
        transform: translateY(2.5rem);
    }

    100% {
        transform: translateY(-2.5rem);
    }
}

/* As Seen On section */
.as-seen-on {
    padding: 5rem 0 10rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 60%;
}

.as-seen-on .card {
    height: 15rem;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-btn-dark);
    border-radius: 12px;
    padding: 0 2.5rem;
    transition: 0.5s;
    box-shadow: 0 0 20px var(--color-secondary);
    animation: FloatImage3 3s ease-in-out infinite;
}

@keyframes FloatImage3 {
    0% {
        transform: translateX(-1.5rem);
    }

    50% {
        transform: translateX(1.5rem);
    }

    100% {
        transform: translateX(-1.5rem);
    }
}

/*
.as-seen-on .card:hover {
    transform: scale(1.02);
}
*/

.as-seen-on .card a {
    width: calc(100% / 3);
}

.as-seen-on .card i img {
    width: 100%;
    height: auto;
}


/* About section */
.about {
    padding: 10rem 0;
    min-height: 74rem;
    color: var(--color-text-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 50%;
}

.about-content h3 {
    font-size: 1.6rem;
    font-weight: var(--font-weight-black);
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.about-content h2 {
    font-size: 4rem;
    font-weight: var(--font-weight-black);
    color: var(--color-text-light);
    line-height: 1;
    margin-bottom: 4rem;
}

.about-content .p1 {
    font-size: 1.8rem;
    color: var(--color-text-dark);
    font-weight: var(--font-weight-normal);
    text-align: left;
}

.about-content .d1 {
    margin-bottom: 2rem;
    border-left: 4px solid var(--color-secondary);
    border-radius: 4px;
    padding-left: 1.5rem;
    margin-bottom: 4rem;
}

.about-content .p2 {
    font-size: 1.8rem;
    color: var(--color-text-dark);
    font-weight: var(--font-weight-normal);
    text-align: left;
}

.about-content .d2 {
    margin-bottom: 2rem;
    border-left: 4px solid rgb(114, 137, 218);
    border-radius: 4px;
    padding-left: 1.5rem;
    margin-bottom: 4rem;
}

.about-content .p3 {
    font-size: 1.8rem;
    color: var(--color-text-dark);
    font-weight: var(--font-weight-normal);
    text-align: left;
}

.about-content .d3 {
    margin-bottom: 2rem;
    border-left: 4px solid rgba(114, 137, 218, 0.75);
    border-radius: 4px;
    padding-left: 1.5rem;
}


.about-img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.about-img i img {
    width: 400px;
    height: auto;
    animation: FloatImage2 3s ease-in-out infinite;
}

@keyframes FloatImage2 {
    0% {
        transform: translateX(-2.5rem);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-2.5rem);
    }
}


/* Services section */
.services {
    padding: 10rem 0;
    color: var(--color-text-light);
}

.services-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.services-title h3 {
    font-size: 1.6rem;
    font-weight: var(--font-weight-black);
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.services-title h2 {
    font-size: 4rem;
    font-weight: var(--font-weight-black);
    color: var(--color-text-light);
    line-height: 1;
    margin-bottom: 6rem;
}

.services-content {
    color: var(--color-text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7.5rem;
}

.services-content .services-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35rem;
    flex: 0 0 35rem;
    background-color: var(--color-btn-light);
    padding: 0 3rem;
    border-radius: 16px;
    text-align: center;
    transition: 0.5s;
}

.services-content .services-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--color-secondary);
}

.services-content .services-box .title-icon {
    font-size: 3rem;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    padding: 1.5rem;
}

.services-content .services-box h3 {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-light);
}

.services-content .services-box p {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--color-text-dark);
    font-weight: var(--font-weight-normal);
}

.services-content .services-box a {
    margin-top: 2rem;
}



/* Payments section */
.payments {
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payments .payments-title {
    display: flex;
    flex-basis: 39.5rem;
    flex-grow: 0;
}

.payments .payments-line {
    flex-basis: calc(100% - 72.5rem);
    padding: 2px;
    border-radius: 50px;
    background-color: var(--color-btn-dark);
}

.payments .payments-crypto {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    flex-basis: 33rem;
    flex-grow: 0;
}

.payments h4 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-light);
    margin-bottom: 3px;
}

.payments .coin {
    height: 3.2rem;
    width: auto;
    margin-left: 0.5rem;
}



/* Portfolio section */
.portfolio {
    padding: 10rem 0;
}

.portfolio-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.portfolio-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-title h3 {
    font-size: 1.6rem;
    font-weight: var(--font-weight-black);
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.portfolio-title h2 {
    font-size: 4rem;
    font-weight: var(--font-weight-black);
    color: var(--color-text-light);
    line-height: 1;
}

.category-filter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
}

.category-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}



.portfolio-content {
    color: var(--color-text-light);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
}

.portfolio-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-dark);
    border-radius: 16px;
    transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    opacity: 1;
}

.box-website {
    height: 18rem;
    flex: 0 0 36rem;
}

.box-discordserver {
    height: 42rem;
    flex: 0 0 36rem;
}

.box-graphics {
    height: 48rem;
    flex: 0 0 36rem;
}

.portfolio-box:hover {
    transform: scale(2);
    box-shadow: 0 0 20px var(--color-secondary);
    transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
    z-index: 99;
}

.portfolio-box:hover .portfolio-text {
    opacity: 0;
}

.portfolio-box a {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: var(--color-btn-light);
}

.portfolio-box .portfolio-img {
    width: 100%;
    height: 100%;
}

.portfolio-box .portfolio-img i img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.portfolio-box .portfolio-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 1.5rem;
    width: 100%;
    height: 30%;
    opacity: 100;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s;
}

.portfolio-text .brand-name {
    color: var(--color-text-light);
    font-weight: var(--font-weight-bold);
    font-size: 1.6rem;
}

.portfolio-text .work {
    color: var(--color-text-hover);
    font-weight: var(--font-weight-normal);
    font-size: 1.4rem;
}



/* FAQ section */
.faq {
    min-height: 95rem;
    padding-top: 10rem;
}

.faq-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faq-content h3 {
    font-size: 1.6rem;
    font-weight: var(--font-weight-black);
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.faq-content h2 {
    font-size: 4rem;
    font-weight: var(--font-weight-black);
    color: var(--color-text-light);
    line-height: 1;
    margin-bottom: 4rem;
    text-align: center;
}

.faq-container {
    width: 80%;
}

.question {
    height: 7rem;
    padding: 0 2rem;
    margin-top: 2rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: var(--color-text-light);
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
    background-color: var(--color-secondary);
    transition: background-color 0.3s, box-shadow 0.3s, border-radius 0.3s;
}

.question i {
    margin-left: 0.3rem;
}

.question:hover {
    box-shadow: 0 0 20px var(--color-secondary);
}

.question.active {
    box-shadow: 0 0 20px var(--color-secondary);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.answer {
    max-height: 0rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: var(--color-btn-light);
    box-shadow: 0 0 20px var(--color-secondary);
    transition: max-height 0.3s, padding 0.3s;
}

.answer.active {
    max-height: 50rem;
    padding: 2rem 2rem;
}

.answer p {
    font-size: 1.6rem;
    color: var(--color-text-dark);
    font-weight: var(--font-weight-normal);
}

.answer a {
    font-size: 1.6rem;
    color: var(--color-secondary);
    font-weight: var(--font-weight-normal);
}

.downarrow-icon {
    padding-bottom: 5px;
    transition: transform 0.5s ease;
}

.question.active .downarrow-icon {
    transform: translateY(-6px) rotate(180deg);
    transform-origin: center;
}





/*  834px - 1068px - Laptop Sections */
@media screen and (min-width: 834px) and (max-width: 1068px) {

    html {
        font-size: 60%;
    }

    /*  Hero Section */
    .hero {
        padding: 5rem 0 10rem 0;
    }

    .hero-content .btn {
        width: 17.3rem;
        font-size: 1.5rem;
    }

    .hero-img i img {
        width: 40rem;
        height: auto;
    }

    /*  As Seen On Section */
    .as-seen-on .card {
        height: 12rem;
    }

    /* About section */
    .about-content {
        padding-right: 2rem;
    }

    .about-img i img {
        width: 35rem;
        height: auto;
    }
}



/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {

    /* Visuals Starting */
    #eclipse-top,
    #eclipse-left1,
    #eclipse-right1,
    #eclipse-right2 {
        display: none;
    }

    /*  Hero Section */
    .hero {
        padding: 0 0 10rem 0;
    }

    .hero-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero-img {
        display: none;
    }

    .hero-content a {
        margin-right: 0;
        margin-top: 4.5rem;
        width: 100%;
    }

    /*  As Seen On Section */
    .as-seen-on {
        padding: 5rem 0 5rem 0;
    }

    .as-seen-on .card {
        height: auto;
        max-height: 30rem;
    }

    .as-seen-on .card a {
        width: 51%;
    }

    /* About section */
    .about-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .about-img {
        display: none;
    }

    /* Payments section */
    .payments {
        flex-direction: column;
    }

    .payments .payments-title {
        flex-basis: 0;
        padding-bottom: 2rem;
    }

    .payments .payments-crypto {
        flex-basis: 0;
    }

    .payments .payments-line {
        display: none;
    }

    /* Portfolio section */
    .portfolio-box:hover {
        transform: scale(1);
    }

    /*  FAQ Section */
    .faq-content h2 {
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }

    .faq-container {
        width: 100%;
    }

    .question {
        font-size: 1.6rem;
    }

    .answer p,
    .answer a {
        font-size: 1.6rem;
    }
}



/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {

    /* Visuals Starting */
    #eclipse-top,
    #eclipse-left1,
    #eclipse-right1,
    #eclipse-right2 {
        display: none;
    }

    /*  Hero Section */
    .hero {
        padding: 0 0 5rem 0;
    }

    .hero-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero-content h2 {
        font-size: 5.3rem;
    }

    .hero-img {
        display: none;
    }

    .hero-content a {
        margin-right: 0;
        margin-top: 3.5rem;
        width: 100%;
    }

    /*  As Seen On Section */
    .as-seen-on {
        padding: 5rem 0 5rem 0;
    }

    .as-seen-on .card {
        height: auto;
        max-height: 30rem;
    }

    .as-seen-on .card a {
        width: 51%;
    }

    /* About section */
    .about-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .about-content h2 {
        font-size: 3.5rem;
    }

    .about-img {
        display: none;
    }

    /* Services section */
    .services-content .services-box {
        height: 33rem;
        flex: 0 0 33rem;
    }

    /* Payments section */
    .payments {
        flex-direction: column;
    }

    .payments .payments-title {
        flex-basis: 0;
        padding-bottom: 2rem;
    }

    .payments .payments-crypto {
        flex-basis: 0;
    }

    .payments .payments-line {
        display: none;
    }

    .payments h4 {
        font-size: 1.8rem;
        text-align: center;
    }

    .payments .coin {
        height: 2.7rem;
    }

    /* Portfolio section */
    .portfolio-box:hover {
        transform: scale(1);
    }

    /*  FAQ Section */
    .faq-content h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .faq-container {
        width: 100%;
    }

    .question {
        font-size: 1.4rem;
    }

    .answer p,
    .answer a {
        font-size: 1.4rem;
    }
}