/* 1069px and Upper - Desktop Sections */

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    position: relative;
    height: auto;
    width: 100%;
    height: 55rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background: var(--color-linear-2);
    opacity: 0.9999;
}

.hero-content h1 {
    font-size: 7.2rem;
    font-weight: var(--font-weight-black);
    color: var(--color-light);
    text-align: center;
}

.hero-content h2 {
    font-size: 6.4rem;
    font-weight: var(--font-weight-bold);
    text-align: center;
    background: var(--color-light);
    -webkit-background-clip: text;
    color: transparent;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 33%;
    z-index: -1;
    border-radius: 32px;
    mix-blend-mode: luminosity;
    overflow: hidden;
    background-image: url("/assets/images/bg-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-background2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 10%;
    z-index: -1;
    border-radius: 32px;
    mix-blend-mode: luminosity;
    overflow: hidden;
    background-image: url("/assets/images/bg-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* About Section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10rem 0;
    margin: 5rem 0;
    border-radius: 32px;
    background-color: var(--color-bg-grey);
}

.about-content {
    height: 55rem;
    width: 45%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.about-content h3 {
    font-size: 3.2rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-dark);
    margin-bottom: 1.5rem;
}

.about-content p {
    font-size: 1.8rem;
    font-weight: var(--font-weight-normal);
    color: var(--color-dark);
    margin-bottom: 2.5rem;
}

.about-image {
    height: 55rem;
    width: 45%;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background: var(--color-bg-grey2);
}

.about-image i img {
    width: 96%;
    height: auto;
}

/* Testimonials Section */
.testimonials {
    padding: 10rem 0;
    margin: 5rem 0;
}

.testimonials-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.testimonials-title h3 {
    font-size: 3.2rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-dark);
    text-align: center;
    margin-bottom: 1rem;
}

.testimonials-title h4 {
    font-size: 2.4rem;
    font-weight: var(--font-weight-normal);
    color: var(--color-dark);
    text-align: center;
    margin-bottom: 2.5rem;
}



.testimonials-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.testimonials-card {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    height: 20rem;
    width: 30%;
    padding: 2rem 2.5rem;
    border-radius: 8px;
    background-color: var(--color-bg-grey);
    box-shadow: 0 0 20px var(--color-dark-hover);
    transition: 0.3s;
}

.testimonials-card:hover {
    transform: scale(1.05);
}

.testimonials-card .name p {
    font-weight: var(--font-weight-bold);
}


/*  834px - 1068px - Laptop Sections */
@media screen and (min-width: 834px) and (max-width: 1068px) {
    html {
        font-size: 60%;
    }

    /* About Section */
    .about-content {
        padding: 5rem 5rem 5rem 0;
    }
}



/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {
    /* Hero Section */
    .hero-content {
        height: 45rem;
    }

    .hero-content h1 {
        font-size: 6rem;
    }
    
    .hero-content h2 {
        font-size: 5rem;
    }

    /* About Section */
    .about {
        flex-direction: column;
        padding: 5rem;
        gap: 5rem;
    }

    .about-content {
        height: auto;
        width: 100%;
        padding: 0rem;
    }

    .about-image {
        height: auto;
        width: 100%;
    }

    /* Testimonials Section */
    .testimonials {
        padding: 5rem 0;
    }

    .testimonials-content {
        flex-direction: column;
        gap: 4rem;
    }

    .testimonials-card {
        height: 15rem;
        width: 100%;
    }
}

/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {

    /* Hero Section */
    .hero-content {
        height: 35rem;
    }

    .hero-content h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .hero-content h1 {
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }

    /* About Section */
    .about {
        flex-direction: column;
        padding: 2.5rem;
        gap: 5rem;
    }

    .about-content {
        height: auto;
        width: 100%;
        padding: 0rem;
    }

    .about-image {
        height: 35rem;
        width: 100%;
    }

    /* Testimonials Section */
    .testimonials {
        padding: 5rem 0;
    }

    .testimonials-title {
        margin-bottom: 2rem;
    }
    
    .testimonials-title h3 {
        font-size: 2.4rem;
    }
    
    .testimonials-title h4 {
        font-size: 1.8rem;
    }

    .testimonials-content {
        flex-direction: column;
        gap: 4rem;
    }

    .testimonials-card {
        height: 18rem;
        width: 100%;
    }
}