/* Portfolio section */
.portfolio {
    padding: 10rem 0;
}

.portfolio-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.portfolio-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-title h2 {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: var(--font-weight-black);
    color: var(--color-text-light);
    line-height: 1;
    animation: BlinkingWhiteShadow 1.5s ease-in-out infinite;
}

.portfolio-title h3 {
    font-size: 1.6rem;
    font-weight: var(--font-weight-black);
    background: var(--color-linear-1-2);
    -webkit-background-clip: text;
    color: transparent;
}

.category-filter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
}

.category-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}



.portfolio-content {
    color: var(--color-text-light);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
}

.portfolio-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-dark);
    border-radius: 16px;
    transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    opacity: 1;
}

.box-website {
    height: 18rem;
    flex: 0 0 36rem;
}

.box-discordserver {
    height: 42rem;
    flex: 0 0 36rem;
}

.box-logodesign {
    height: 30rem;
    flex: 0 0 36rem;
}

.box-threaddesign {
    height: 48rem;
    flex: 0 0 36rem;
}

.box-signaturedesign {
    height: 17rem;
    flex: 0 0 60rem;
}

.portfolio-box:hover {
    transform: scale(1.5);
    box-shadow: 0 0 20px var(--color-secondary);
    transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
    z-index: 99;
}

.portfolio-box:hover .portfolio-text {
    opacity: 0;
}

.portfolio-box a {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: var(--color-btn-light);
}

.portfolio-box .portfolio-img {
    width: 100%;
    height: 100%;
}

.portfolio-box .portfolio-img i img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.portfolio-box .portfolio-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 1.5rem;
    width: 100%;
    height: 30%;
    opacity: 100;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s;
}

.portfolio-text .brand-name {
    color: var(--color-text-light);
    font-weight: var(--font-weight-bold);
    font-size: 1.6rem;
}

.portfolio-text .work {
    color: var(--color-text-hover);
    font-weight: var(--font-weight-normal);
    font-size: 1.4rem;
}


/*  834px - 1068px - Laptop Sections */
@media screen and (min-width: 834px) and (max-width: 1068px) {}



/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {
    .portfolio-box:hover {
        transform: scale(1);
    }
}



/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {
    .portfolio {
        padding: 4rem 0;
    }

    .portfolio-box:hover {
        transform: scale(1);
    }

    .portfolio-title h2 {
        margin-bottom: 1rem;
    }

    .portfolio-title h3 {
        font-size: 1.5rem;
    }
}