/* PrivacyPolicy section */
.privacypolicy {
    color: var(--color-text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.privacypolicy-content {
    width: 100%;
    margin: auto;
    padding: 2.5rem;
    background-color: var(--color-dark);
    border: 2px solid var(--color-btn-dark);
    border-radius: 16px;
    box-shadow: inset 0 0 100px rgb(0, 0, 0, 1);
}

.privacypolicy-content h2 {
    font-size: 4rem;
    font-weight: var(--font-weight-black);
    line-height: 1;
    margin-bottom: 3rem;
    animation: BlinkingWhiteShadow 1.5s ease-in-out infinite;
}

.privacypolicy-content h3 {
    font-size: 1.6rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.privacypolicy-content h4 {
    font-size: 1.6rem;
    line-height: 1.2;
    color: var(--color-text-light);
    font-weight: var(--font-weight-bold);
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.privacypolicy-content h4 span {
    color: var(--color-secondary);
}

.privacypolicy-content p {
    font-size: 1.6rem;
    line-height: 1.2;
    color: var(--color-text-light);
    text-align: left;
    margin-bottom: 1rem;
}

.privacypolicy-content p a {
    color: var(--color-secondary);
}

.privacypolicy-content ol {
    list-style: square;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.privacypolicy-content ol li {
    color: var(--color-text-hover);
    font-weight: var(--font-weight-normal);
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-top: 1rem;
    margin-left: 3rem;
}

.privacypolicy-content ol li a {
    color: var(--color-secondary);
}

.privacypolicy-content ol li::marker {
    color: var(--color-secondary);
}


/*  834px - 1068px - Laptop Sections */
@media screen and (min-width: 834px) and (max-width: 1068px) {

}



/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {

    .privacypolicy {
        padding-top: 5rem;
        padding-bottom: 7.5rem;
    }

    .privacypolicy-content h2 {
        font-size: 3rem;
    }

    .privacypolicy-content p {
        font-size: 1.6rem;
    }

    .privacypolicy-content ol li {
        font-size: 1.5rem;
        margin-left: 2rem;
    }
}



/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {

    .privacypolicy {
        padding-top: 2.5rem;
        padding-bottom: 5rem;
    }

    .privacypolicy-content h2 {
        font-size: 2.5rem;
    }

    .privacypolicy-content h3 {
        font-size: 1.5rem;
    }

    .privacypolicy-content p {
        font-size: 1.5rem;
    }

    .privacypolicy-content ol li {
        font-size: 1.4rem;
        margin-left: 1rem;
    }
}